.container-api {
  --orbit-size: clamp(200px, 50vw, 400px);
  --planet-move: clamp(32px, 7vw, 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: var(--orbit-size);
  height: var(--orbit-size);
  position: relative;
}

.central-api {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.orbit.orbit-1 {
  width: 150px;
  height: 150px;
}

.orbit.orbit-2 {
  width: 250px;
  height: 250px;
}

.orbit.main {
  width: var(--orbit-size);
  height: var(--orbit-size);
  animation: rotate 15s linear infinite;
}

.item-api {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    translate(-50%, -50%) rotate(var(--orbit-rotation, 0deg)) translateX(calc((var(--orbit-size) / 2) - (var(--planet-move) / 2)));
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.item-api>div {
  width: var(--planet-move);
  height: var(--planet-move);
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit.main #item-api-0 {
  transform:
    translate(-50%, -50%) rotate(0deg) translateX(calc((var(--orbit-size) / 2) - (var(--planet-move) / 2)));
}

.orbit.main #item-api-1 {
  transform:
    translate(-50%, -50%) rotate(90deg) translateX(calc((var(--orbit-size) / 2) - (var(--planet-move) / 2)));
}

.orbit.main #item-api-2 {
  transform:
    translate(-50%, -50%) rotate(180deg) translateX(calc((var(--orbit-size) / 2) - (var(--planet-move) / 2)));
}

.orbit.main #item-api-3 {
  transform:
    translate(-50%, -50%) rotate(270deg) translateX(calc((var(--orbit-size) / 2) - (var(--planet-move) / 2)));
}

.orbit.main #item-api-0 > div {
  animation: orbit-icon-reverse-0 15s linear infinite;
}

.orbit.main #item-api-1 > div {
  animation: orbit-icon-reverse-90 15s linear infinite;
}

.orbit.main #item-api-2 > div {
  animation: orbit-icon-reverse-180 15s linear infinite;
}

.orbit.main #item-api-3 > div {
  animation: orbit-icon-reverse-270 15s linear infinite;
}

@keyframes orbit-icon-reverse-0 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes orbit-icon-reverse-90 {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(-450deg);
  }
}

@keyframes orbit-icon-reverse-180 {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(-540deg);
  }
}

@keyframes orbit-icon-reverse-270 {
  from {
    transform: rotate(-270deg);
  }

  to {
    transform: rotate(-630deg);
  }
}

@media (max-width: 600px) {
  .container-api {
    --planet-size: 12vw;
  }

  .orbit.orbit-2 {
    display: none;
  }
}